<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Панель администратора</title>
</head>
<body>
<div th:replace="common/navbar :: navbar"></div>
<br><br>
<h1>Панель администратора</h1>
<br><br>
<h2>Список пользователей:</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Имя</th>
        <th>Email</th>
        <th>Возраст</th>
        <th>Роли</th>
        <th>Действия</th>
    </tr>
    <tr th:each="user : ${listOfUsers}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.age}"></td>
        <td>
            <span th:each="role : ${user.roles}" th:text="${role.name} + ' '"></span>
        </td>
        <td>
            <a th:href="@{/admin/update/{id}(id=${user.id})}">Редактировать</a>
            <form th:action="@{/admin/delete/{id}(id=${user.id})}" method="post">
                <button type="submit" style="background: #dc3545; color: white; border: none; cursor: pointer;">
                    Удалить пользователя
                </button>
            </form>
        </td>
    </tr>
</table>

<br>
<a th:href="@{/admin/create}">Добавить нового пользователя</a>
<br><br>
<a href="/user">Мой профиль</a>
</body>
</html>